.pp-projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pp-projects__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pp-projects__table {
  display: flex;
  flex-direction: column;
  gap: 0;
}
