.pp-dash {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pp-dash__body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.pp-dash__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
  padding: 24px;
}
